/*body {

	height: 2000px;
}
*/

#container {
	margin: 0 auto;
	width: 1000px;
	float: left;
}

/*#cardContainer {
	margin: 0 auto;
	width: 850px;
	height: 750px;
	border-color: black;
	border-style: solid;
}*/

.card {
	border-style: solid;
	border-color: black;
	width: 200px;
	height: 100px	;
	padding: 10px;
	margin: 25px;
	float: left;
}

.imgHolder {
	text-align: center;
}

.card img {
	display: inline-block;
}

.selected {
	border-color: red;
	border-style: solid;
}

.hidden {
	display: none;
}

/*#score {
	width: 200px;
	height: 150px;
	background-color: #c9d1d3;
	padding: 10px;
/*	float: right;*/
}*/

#score p {
	margin-top: 0px;
	padding: 0px;
}

#score h3 {
	margin-bottom: 5px;
	padding: 0px;
	margin-top: 0px;
}

/*#buttonContainer {
	float: right;
}*/